body {
  font-size: 12px;
  background: #1c1c1c;
}

img {
  opacity: .65;
  min-height: 100%;
  min-width: 1024px;
  position: fixed;
  top: 0;
  left: 0;
}

.option img {
  width: 100%;
  height: 100%;
}

nav {
  z-index: 1;
  position: absolute;
}

button {
  color: white;
  background: rgba(0,0,0,0.1);
  margin-right: 10px;
  border: .1px solid #141414;
  padding: 10px 25px;
}
